{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "2017",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "Document": false,
    "Element": false,
    "FileReader": false,
    "URL": false,
    "WebSocket": false,
    "Window": false
  },
  "plugins": [
    "eslint-plugin-react"
  ],
  "rules" : {
    "array-bracket-spacing": "error",
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "consistent-return": "error",
    "eol-last": "error",
    "eqeqeq": "error",
    "indent": [
      "error",
      2,
      {
        "FunctionDeclaration": { "parameters": 2 },
        "FunctionExpression": { "parameters": 2 },
        "SwitchCase": 1
      }
    ],
    "keyword-spacing": "error",
    "max-len": [
      "error",
      {
        "code": 120,
        "comments": 80,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true,
        "tabWidth": 8
      }
    ],
    "no-alert": "warn",
    "no-array-constructor": "error",
    "no-empty-function": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-fallthrough": ["error", { "commentPattern": "fallthrough" }],
    "no-floating-decimal": "error",
    "no-implied-eval": "error",
    "no-nested-ternary": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-regex-spaces": "off",
    "no-shadow": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-unsafe-negation": "error",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "all",
        "varsIgnorePattern": "[uU]nused",
        "argsIgnorePattern": "[uU]nused"
      }
    ],
    "no-var": "error",
    "object-curly-spacing": ["error", "always"],
    "object-shorthand": ["error", "always"],
    "prefer-const": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": ["error", "always"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "symbol-description": "error",
    "valid-jsdoc": [
      "warn",
      {
        "prefer": {
          "arg": "param",
          "argument": "param",
          "return": "returns"
        },
        "requireReturn": false
      }
    ]
  },
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use, default to "createReactClass"
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "16.0" // React version, default to the latest React stable release
    }
  }
}
