@import "~ui-common/colors";
@import "~ui-common/helpers";

/* component container when it is left-justified */
.p-image-embed-container--left-justified {
  float: left;
  max-width: 50%;
  height: auto;
  margin-right: 24px;
  margin-top: 12px;
  margin-bottom: 8px;
}

/* component container when it is right-justified */
.p-image-embed-container--right-justified {
  float: right;
  max-width: 50%;
  height: auto;
  margin-left: 24px;
  margin-top: 12px;
  margin-bottom: 8px;
}

/* component container when it is center-justified */
.p-image-embed-container--center-justified {
  margin-top: 2px;
  margin-bottom: 12px;
  max-width: 700px;
  height: auto;
}

/* component container when it is full-bleed */
.p-image-embed-container--full-bleed {
  width: 100vw;
  height: 40vw;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* base image styling */
.p-image-embed__image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* image when it is in a left-justified container */
.p-image-embed__image--left-justified {

}

/* image when it is in a right-justified container */
.p-image-embed__image--right-justified {

}

/* image when it is in a center-justified container */
.p-image-embed__image--center-justified {
  object-fit: contain;
}

/* image when it is in a full-bleed container */
.p-image-embed__image--full-bleed {
  object-fit: cover;
}

/* container that holds the image and its alignment controls */
.p-image-embed__image-editing-container {
  position: relative;
}

/* container for the alignment buttons */
.p-image-embed__alignment-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  .user-select(none); /* needed or Quill makes the button text selectable */
}

/* base for caption text */
.p-image-embed__caption {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: @sk_black;
}

/* caption text, static display */
.p-image-embed__caption--static {
  .user-select(none);
}

/* The click-here-to-edit area */
.p-image-embed__caption--CTA {
  color: @sk_dark_gray;
  border-style: dashed;
  border-width: 1px;
  border-color: @sk_light_gray;
  border-radius: 4px;
  .user-select(none);
}

/* The input field for typing the caption */
.p-image-embed__caption-input {
  margin-top: 8px;
  margin-bottom: 12px;
  width: 100%;
}
