/*
 * Copyright 2016-2018 the Bayou Authors (Dan Bornstein et alia).
 * Licensed AS IS and WITHOUT WARRANTY under the Apache License,
 * Version 2.0. Details: <http://www.apache.org/licenses/LICENSE-2.0>
 */

/*
 * Definitions for the editor content area.
 */

/*
 * Basic font size. We do this so as to establish a `rem` unit that corresponds
 * to the main body text size. **Note:** If a Bayou editor is being embedded in
 * another page, it is possible that this rule will end up interacting with the
 * enclosing CSS in undesired ways.
 *
 * TODO: Make this particular bit configurable via a hook, should it turn out to
 * be useful.
 */
html.bayou-page {
  font-size: 100%;
}

/* Top-level container for all the nodes for a single editor "complex." */
.bayou-top {
  /* Nothing needed here... yet. */
}

/*
 * In the edit areas, turn off font ligatures. This works around a bug in
 * Chrome (observed in version 60 around 2017-08-24), where the caret fails to
 * display correctly when positioned in the middle of a ligature-rendered
 * character sequence. This was filed as Chromium issue #473476 on 2015-04-03
 * <https://bugs.chromium.org/p/chromium/issues/detail?id=473476>.
 *
 * **TODO:** Re-evaluate whether this workaround is necessary, with each major
 * release of Chrome.
 */
.bayou-top .ql-editor {
  font-variant-ligatures: none;

  max-width:    43.75rem;
  margin-left:  auto;
  margin-right: auto;

  padding:      0;
}

/* Container for the Quill editor for the document title field. */
.bayou-title-editor .ql-editor p {
  color:         #2c2d30;
  font-weight:   900;
  font-size:     3rem;
  line-height:   3.25rem;
  margin-top:    3.25rem;
  margin-bottom: 2.0rem;
}

.bayou-title-editor .ql-editor a:link {
  color:           #007ab8;
  text-decoration: none;
}

.bayou-title-editor .ql-editor a:visited {
  text-decoration: none;
}

.bayou-title-editor .ql-editor a:hover {
  text-decoration:       underline;
  text-decoration-color: #007ab8;
}

/*
 * Container for the editor "body." Within this container are the main text
 * and the author overlay.
 */
.bayou-body {
  /*
   * When not given any offset, specifying `position: relative` is equivalent to
   * not saying `position` at all, with one exception: Enclosed nodes that have
   * `position: absolute` are defined to actually mean "relative with respect to
   * the closest enclosing explicitly positioned node." So, by doing this, we
   * are arranging for the enclosed author overlay to find this node and not
   * walk further up the containership hierarchy.
   */
  position: relative;
}

/*
 * The <svg> layer on top of the Quill editor that is used to show things such
 * as remote author highlights.
 */
.bayou-author-overlay {
  /*
   * This positions the author overlay with respect to the outer node being
   * managed here, sizing it to exactly match it, which means (by construction)
   * that it exactly overlays the actual editor.
   */
  position: absolute;
  width:    100%;
  height:   100%;
  left:     0px;
  top:      0px;
  z-index:  2;

  /* The editor, not this node, is what listens to pointer events. */
  pointer-events: none;
}

/* Container for the Quill editor for the document body text. */
.bayou-editor {
  margin: 0;

  padding-top:    0.5em;
  padding-left:   0.1em;
  padding-right:  0.1em;
  padding-bottom: 5em;
}

/* Basic font and layout characteristics. */
.bayou-editor .ql-editor {
  color:          #2c2d30;
  letter-spacing: normal;
  line-height:    1.75rem;
  font-size:      1rem; /* This thwacks it back from Quill's smaller default. */

  /*
   * This arranges for a maximum line width that won't force the reader's eyes
   * to glaze over.
   */
  max-width:    43.75rem;
  margin-left:  auto;
  margin-right: auto;

  padding:      0;
}

.bayou-editor .ql-editor ::selection {
  background: #b2e8ff;
}

.bayou-editor .ql-editor p {
  font-size:     1.125rem;
  font-weight:   400;
  line-height:   1.75rem;
  margin:        0;
  padding:       0;
}

.bayou-editor .ql-editor h1 {
  font-size:     2.25rem;
  font-weight:   900;
  line-height:   2.625rem;
  margin-top:    1.75rem;
  margin-bottom: 0.5rem;
}

.bayou-editor .ql-editor h2 {
  font-size:     1.75rem;
  font-weight:   900;
  line-height:   2.125rem;
  margin-top:    1.75rem;
  margin-bottom: 0.25rem;
}

.bayou-editor .ql-editor h3 {
  font-size:     1.375rem;
  font-weight:   900;
  line-height:   2.25rem;
  margin-top:    1.75rem;
  margin-bottom: 0;
}

.bayou-editor .ql-editor a:link {
  color:           #007ab8;
  text-decoration: none;
}

.bayou-editor .ql-editor a:visited {
  text-decoration: none;
}

.bayou-editor .ql-editor a:hover {
  text-decoration:       underline;
  text-decoration-color: #007ab8;
}

/*
 * Common definitions for monospace (code), both inline and multiline. This
 * overrides Quill's default coloring. (Quill's specifiers end up being more
 * "specific" than the ones here, which is why we use `!important`.)
 */
.bayou-editor .ql-editor code,
.bayou-editor .ql-editor pre {
  border-color:  rgba(0, 0, 0, 0.15) !important;
  border-style:  solid               !important;
  border-width:  1px                 !important;
  border-radius: 4px                 !important;
}

/* Inline monospace coloring. (See above about `!important`.) */
.bayou-editor .ql-editor code {
  background-color: #f7f7f9 !important;
  color:            #cc2255 !important;
}

/* Multiline monospace coloring. (See above about `!important`.) */
.bayou-editor .ql-editor pre {
  color:            #333333 !important;
  background-color: #fbfaf8 !important;
}
