/*
 * Copyright 2016-2017 the Bayou Authors (Dan Bornstein et alia).
 * Licensed AS IS and WITHOUT WARRANTY under the Apache License,
 * Version 2.0. Details: <http://www.apache.org/licenses/LICENSE-2.0>
 */

/*
 * Definitions for the editor content area.
 */

/*
 * Basic font size. We do this so as to establish a `rem` unit that corresponds
 * to the main body text size. **Note:** If a Bayou editor is being embedded in
 * another page, it is possible that this rule will end up interacting with the
 * enclosing CSS in undesired ways.
 *
 * TODO: Make this particular bit configurable via a hook, should it turn out to
 * be useful.
 */
html.bayou-page {
  font-size: 18px;
}

.bayou-content-wrapper {
  /*
   * When not given any offset, specifying `position: relative` is equivalent to
   * not saying `position` at all, with one exception: Enclosed nodes that have
   * `position: absolute` are defined to actually mean "relative with respect to
   * the closest enclosing explicitly positioned node." So, by doing this, we
   * are arranging for the enclosed author overlay to find this node and not
   * walk all the way up to the root node.
   */
  position: relative;
}

/* Top-level editor container. */
div.bayou-top {
  margin: 0;

  padding-top: 0.5em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 5em;

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

/* Basic font and layout characteristics. */
div.bayou-top .ql-editor {
  line-height: 1.7rem;
  font-size: 1rem; /* This thwacks it back from Quill's smaller default. */

  /*
   * This arranges for a maximum line width that won't force the reader's eyes
   * to glaze over.
   */
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

/*
 * The <svg> layer on top of the Quill editor that is used to show things
 * like remote author highlights.
 */
#author-overlay {
  /*
   * This positions the author overlay with respect to the outer node being
   * managed here, sizing it to exactly match it, which means (by construction)
   * that it exactly overlays the actual editor.
   */
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 2;

  /* The editor, not this node, is what listens to pointer events. */
  pointer-events: none;
}

/*
 * Bigger header spacing. The spacing above is based on the baseline font size
 * (hence `rem` units) and the spacing below is based on the actual header font
 * size (hence `em` units).
 */
div.bayou-top .ql-editor h1,
div.bayou-top .ql-editor h2,
div.bayou-top .ql-editor h3 {
  padding-top: 2rem;
  padding-bottom: 0.5em;
}

/*
 * Smaller header spacing. Similar above/below setup as for the bigger headers.
 */
div.bayou-top .ql-editor h4,
div.bayou-top .ql-editor h5,
div.bayou-top .ql-editor h6 {
  padding-top: 1rem;
  padding-bottom: 0.25em;
}

/* Colorful markup for code. */
.bayou-top code, .bayou-top pre {
  color: #c25;
}
