.c-icon--star-o::before {
  content: '\E001';
}

.c-icon--cloud-download::before {
  content: '\E019';
}

.c-icon--quote-o::before {
  content: '\E047';
}
.c-icon--link::before {
  content: '\E074';
}

.c-icon--h1::before {
  content: '\E154';
}

.c-icon--h2::before {
  content: '\E155';
}

.c-icon--h3::before {
  content: '\E156';
}

.c-icon--bullet-list::before {
  content: '\E157';
}

.c-icon--numbered-list::before {
  content: '\E158';
}

.c-icon--check-list::before {
  content: '\E15A';
}

.c-icon--codeblock::before {
  content: '\E15B';
}

.c-icon--bold::before {
  content: '\E160';
}

.c-icon--italic::before {
  content: '\E161';
}

.c-icon--underline::before {
  content: '\E162';
}

.c-icon--strikethrough::before {
  content: '\E163';
}

.c-icon--code::before {
  content: '\E066';
}

.c-icon--file-generic::before {
  content: '\E400';
}

.c-icon--star::before {
  content: '\E500';
}
