@import "~ui-common/colors";
@import "~ui-common/helpers";

.divider {
  font-size: 13px;
  margin-left: 4px;
  margin-right: 4px;
  color: @sk_light_gray;
  .user-select(none);
}

.divider::before {
  content: '|';
}
