@import "~ui-common/colors";

.header {
  border-width:   0px 0px 1px 0px;
  border-color:   @sk_light_gray;
  border-style:   solid;
  margin-left:    0.5rem;
  margin-top:     0.5rem;
  padding-bottom: 0.5rem;
}
